---
title: La Bicicleta Verde Teatro
---

<div>
  <h1 class="text-green-100">
    La Bicicleta Verde Teatro
  </h1>

  <p>
    Compañía de teatro
  </p>
  <p>Contacto: 699353864</p>
  <p>Email: contacto@labicicletaverdeteatro.com</p>
  <p class="mt-6 text-xl text-green-100">Pagina en constructión</p>
</div>