---
title: Welcome to Middleman
---

<div>
  <h1 class="text-green-100">
    La Bicicleta Verde Teatro
  </h1>

  <p>
    Compania de teatro
  </p>
  <p>Contacto: 699353864</p>
  <p>Email: mariatoledo1981@gmail.com</p>
  <p class="mt-6 text-xl text-green-100">Pagina en constructión</p>
</div>
